// fonts
@font-face {
  font-family: 'PoliticsHead';
  src: url('/fonts/politicshead/PoliticsHead-Bold.eot');
  src: url('/fonts/politicshead/PoliticsHead-Bold.woff2') format('woff2'),
          url('/fonts/politicshead/PoliticsHead-Bold.woff') format('woff'),
          url('/fonts/politicshead/PoliticsHead-Bold.ttf') format('truetype'),
          url('/fonts/politicshead/PoliticsHead-Bold.svg#PoliticsHead-Bold') format('svg'),
          url('/fonts/politicshead/PoliticsHead-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

// headlines
h1, h2, h3, h4, h5, header.navbar .site-name
  font-family PoliticsHead, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

// add logo in header
header.navbar .home-link
  height 38px
  display block

@media only screen and (max-width: 800px)
  header.navbar .home-link .site-name
    font-size 1em

@media only screen and (max-width: 375px)
  header.navbar .home-link .site-name
    text-indent -99999px

header.navbar .home-link:before
  content url(/img/logo.svg)
  display inline-block
  height 2.2rem
  width 2.2rem
  vertical-align top
  margin-top: 1px;

header.navbar .links
  padding-left 0.5em

// logo hover effect on homepage
.home .hero img
  display inline-block
  vertical-align middle
  transform perspective(1px) translateZ(0)
  box-shadow 0 0 1px rgba(0, 0, 0, 0)
  transition-duration 0.5s

.home .hero img:hover, .home .hero img:focus, .home .hero img:active
  transform scale(1.2)
  transition-timing-function cubic-bezier(0.47, 2.02, 0.31, -0.36)

// fix outgoing link icon spacing
.icon.outbound
  padding-left 3px

#app .page a.year-button
  display inline-block
  width 33%
  background $borderColor
  border 5px solid #fff
  padding 0.8em 0
  text-align center
  box-sizing border-box
  font-weight bold
  font-size 1.5em

  &:hover
    text-decoration none
    background darken($borderColor, 10%)

@media only screen and (max-width: 400px)
  .year-button
    width 100%
