<template>
    <div class="hero">
        <p class="action">
            <router-link to="/announcements/" class="nav-link action-button">Zu den Ankündigungen →</router-link>
            <router-link to="/protocols/" class="nav-link action-button">Zur Protokoll-Übersicht →</router-link>
        </p>
    </div>
</template>

<script>
    export default {
        name: 'homepage-buttons'
    }
</script>

<style lang="stylus" scoped>
    .action-button
        margin 0 0.5em 1em
</style>