<template>
  <footer>
    <div class="footer-content">
      <h4><img src="/img/logo.svg" alt="Piratenpartei-Signet" style="height: 1.7rem; vertical-align: middle;">
        Piratenpartei Niederbayern</h4>
      <ul class="footer-column">
        <li class="paragraph">Besuche uns auch auf unseren Kanälen in den sozialen Netzen:<br>
          <a href="https://www.facebook.com/PiratenparteiNiederbayern" title="Facebook">
            <img src="/img/social/facebook.svg" alt="facebook" width="20%" />
          </a>
          <a href="https://www.instagram.com/piratenparteiniederbayern" title="Instagram">
            <img src="/img/social/instagram.svg" alt="instagram" width="20%" />
          </a>
          <a href="https://twitter.com/piraten_ndb" title="Twitter">
            <img src="/img/social/twitter.svg" alt="twitter" width="20%" />
          </a>
          <a href="https://t.me/piraten_ndb" title="Telegram">
            <img src="/img/social/telegram.svg" alt="telegram" width="20%" />
          </a>
          <br>Oder unter
          <a href="https://forum.piratenpartei.de/tags/niederbayern">forum.piratenpartei.de<outbound-link /></a>.
        </li>
      </ul>
      <ul class="footer-column">
        <li class="paragraph">Übergeordnete Gliederungen/Verbände:</li>
        <li><a href="https://piratenpartei-bayern.de/">🥨 Landesverband Bayern<outbound-link /></a></li>
        <li><a href="https://piratenpartei.de/">🇩🇪 Bundesverband <span
            style="white-space: nowrap">Deutschland<outbound-link /></span></a></li>
        <li><a href="https://european-pirateparty.eu/">🇪🇺 European Pirates<outbound-link /></a></li>
        <li><a href="https://pp-international.net/">🌐 Pirate Parties International<outbound-link /></a></li>
      </ul>
      <p>
        Erstellt mit
        <a href="https://gitlab.com/piraten-niederbayern/piraten-niederbayern.gitlab.io/-/graphs/master"
           style="color: #ff2200;">❤</a>,
        <a href="https://gitlab.com/piraten-niederbayern/piraten-niederbayern.gitlab.io">GitLab<outbound-link /></a>
        und
        <a href="https://vuepress.vuejs.org/">VuePress<outbound-link /></a>.
        &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
        <router-link to="/imprint_privacy.html">Impressum & Datenschutzerklärung</router-link>
      </p>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'page-footer',
}
</script>
<style lang="stylus" scoped>
@import "../styles/palette.styl"

footer
  padding 2rem 2rem 3rem
  font-size 0.9rem
  line-height 1.7rem
  background $borderColor

  .footer-content
    max-width 740px
    margin 0 auto

    h4
      font-size 0.9rem
      line-height 1.7rem
      margin 0 0 0.5rem

    ul.footer-column
      width 365px
      max-width 100%
      display inline-block
      vertical-align top
      margin 0
      padding 0 0 1rem
      list-style none

      li
        padding-right 1rem

        &.paragraph
          padding-top 0.7rem
          padding-bottom 0.7rem
          line-height 1.3rem
</style>
