<template>
    <ul>
        <li v-for="site in sites"><router-link :to="site.path">{{site.title}}</router-link></li>
    </ul>
</template>

<script>
    export default {
        name: 'protocol-list',
        props: ['type', 'year'],
        computed: {
            sites() {
                return this.$site.pages.filter(p => p.path.startsWith('/protocols/' + this.type + '/' + this.year))
                    .sort((a, b) => a.relativePath > b.relativePath ? -1 : 1);
            }
        }
    }
</script>